.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.5rem;
    background: rgba(10, 10, 26, 0.8);
    backdrop-filter: blur(10px);
    z-index: 9997;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 3rem;
}

.nav-links a {
    color: var(--text);
    text-decoration: none;
    position: relative;
    font-size: 1.3rem;
}



.logo {
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(45deg, var(--primary), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
